body {
    background:rgb(163, 172, 168);
    margin: 0;
}
header .line {
    background-color: black;
    height: 5px;
}

.header-area {
    background-color: green;
    width: flex;
    height: flex;
}